In [4]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\pavil\appdata\local\programs\python\python313\lib\site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\pavil\appdata\local\programs\python\python313\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

importhing PySpark Sql

In [5]:
from pyspark.sql import *

Create the student database

In [6]:
Student = Row("firstname","lastname","email","age","rollNumber")

In [7]:
students = [
    Student("Emma", "Johnson", "emma.johnson@example.com", 20, 1001),
    Student("Liam", "Smith", "liam.smith@example.com", 22, 1002),
    Student("Olivia", "Brown", "olivia.brown@example.com", 19, 1003),
    Student("Noah", "Davis", "noah.davis@example.com", 21, 1004),
    Student("Ava", "Wilson", "ava.wilson@example.com", 23, 1005),
    Student("Lucas", "Martinez", "lucas.martinez@example.com", 20, 1006),
    Student("Sophia", "Anderson", "sophia.anderson@example.com", 24, 1007),
    Student("Ethan", "Taylor", "ethan.taylor@example.com", 19, 1008),
    Student("Isabella", "Thomas", "isabella.thomas@example.com", 22, 1009),
    Student("James", "Garcia", "james.garcia@example.com", 21, 1010),
]

Create the Departments

In [8]:
department1 = Row(id="001", name="Computer Science")
department2 = Row(id="002", name="Mechanical Engineering")
department3 = Row(id="003", name="Data Science")
department4 = Row(id="004", name="Civil Engineering")

Create the DepartmentWithStudent instances

In [9]:
departmentWithStudent1 = Row(department=department1, students=[students[0], students[1]])
departmentWithStudent2 = Row(department=department2, students=[students[2], students[3]])
departmentWithStudent3 = Row(department=department3, students=[students[4], students[5]])
departmentWithStudent4 = Row(department=department4, students=[students[6], students[7]])
departmentWintStudent5 = Row(department=department1, students=[students[8], students[9]])

In [10]:
print(departmentWithStudent3.students[0].rollNumber)

1005

Creating data frame

In [11]:
departmentWithStudents = (departmentWithStudent1, departmentWithStudent2, departmentWithStudent3, departmentWithStudent4, departmentWintStudent5)

In [12]:
from pyspark.context import SparkContext 
from pyspark.sql.session import SparkSession

sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

In [13]:
df = spark.createDataFrame(departmentWithStudents)

display dataframe

In [14]:
display(df)

DataFrame[department: struct<id:string,name:string>, students: array<struct<firstname:string,lastname:string,email:string,age:bigint,rollNumber:bigint>>]

Data frame from CSV

In [15]:
from pyspark.sql import SparkSession

In [21]:
spark = SparkSession.builder.appName("Create data frame from csv file").getOrCreate()

In [23]:
covid_df = spark.read.csv(path="C:/Users/pavil/Documents/demo/content/covid_19_data.csv", sep=",", header=True)

In [25]:
covid_df.show()

+----------+-------+---------+------+---------+
|      Date|Country|Confirmed|Deaths|Recovered|
+----------+-------+---------+------+---------+
|2024-03-15|    USA|   100000|  2000|    80000|
|2024-03-15|  India|    95000|  1500|    87000|
|2024-03-15| Brazil|    85000|  1800|    72000|
|2024-03-15| Russia|    67000|  1200|    54000|
|2024-03-15|     UK|    74000|  1300|    60000|
|2024-03-16|    USA|   102500|  2100|    82000|
|2024-03-16|  India|    97000|  1600|    88000|
|2024-03-16| Brazil|    87000|  1900|    74000|
|2024-03-16| Russia|    69000|  1300|    56000|
|2024-03-16|     UK|    76000|  1400|    62000|
+----------+-------+---------+------+---------+

In [26]:
covid_df.count()

10

In [27]:
covid_df.columns

['Date', 'Country', 'Confirmed', 'Deaths', 'Recovered']

In [30]:
len(covid_df.columns)

5

In [31]:
covid_df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Confirmed: string (nullable = true)
 |-- Deaths: string (nullable = true)
 |-- Recovered: string (nullable = true)

In [33]:
covid_df.describe("Confirmed").show()

+-------+------------------+
|summary|         Confirmed|
+-------+------------------+
|  count|                10|
|   mean|           85250.0|
| stddev|13168.248850085487|
|    min|            100000|
|    max|             97000|
+-------+------------------+

In [34]:
covid_df.describe("Deaths").show()

+-------+------------------+
|summary|            Deaths|
+-------+------------------+
|  count|                10|
|   mean|            1610.0|
| stddev|321.28215360057305|
|    min|              1200|
|    max|              2100|
+-------+------------------+

In [40]:
covid_df.select("Country", "Deaths").show()

+-------+------+
|Country|Deaths|
+-------+------+
|    USA|  2000|
|  India|  1500|
| Brazil|  1800|
| Russia|  1200|
|     UK|  1300|
|    USA|  2100|
|  India|  1600|
| Brazil|  1900|
| Russia|  1300|
|     UK|  1400|
+-------+------+

In [41]:
covid_df.filter(covid_df["Deaths"] > 1000).show()

+----------+-------+---------+------+---------+
|      Date|Country|Confirmed|Deaths|Recovered|
+----------+-------+---------+------+---------+
|2024-03-15|    USA|   100000|  2000|    80000|
|2024-03-15|  India|    95000|  1500|    87000|
|2024-03-15| Brazil|    85000|  1800|    72000|
|2024-03-15| Russia|    67000|  1200|    54000|
|2024-03-15|     UK|    74000|  1300|    60000|
|2024-03-16|    USA|   102500|  2100|    82000|
|2024-03-16|  India|    97000|  1600|    88000|
|2024-03-16| Brazil|    87000|  1900|    74000|
|2024-03-16| Russia|    69000|  1300|    56000|
|2024-03-16|     UK|    76000|  1400|    62000|
+----------+-------+---------+------+---------+

In [42]:
covid_df.filter(covid_df["Deaths"] > 1000).select("Country", "Deaths").show()

+-------+------+
|Country|Deaths|
+-------+------+
|    USA|  2000|
|  India|  1500|
| Brazil|  1800|
| Russia|  1200|
|     UK|  1300|
|    USA|  2100|
|  India|  1600|
| Brazil|  1900|
| Russia|  1300|
|     UK|  1400|
+-------+------+

In [45]:
covid_df.filter(covid_df.Deaths > 1000).count()

10

In [47]:
covid_df.filter((covid_df.Deaths > 1000) & (covid_df.Confirmed > 10000)).show()

+----------+-------+---------+------+---------+
|      Date|Country|Confirmed|Deaths|Recovered|
+----------+-------+---------+------+---------+
|2024-03-15|    USA|   100000|  2000|    80000|
|2024-03-15|  India|    95000|  1500|    87000|
|2024-03-15| Brazil|    85000|  1800|    72000|
|2024-03-15| Russia|    67000|  1200|    54000|
|2024-03-15|     UK|    74000|  1300|    60000|
|2024-03-16|    USA|   102500|  2100|    82000|
|2024-03-16|  India|    97000|  1600|    88000|
|2024-03-16| Brazil|    87000|  1900|    74000|
|2024-03-16| Russia|    69000|  1300|    56000|
|2024-03-16|     UK|    76000|  1400|    62000|
+----------+-------+---------+------+---------+

In [52]:
covid_df.orderBy(covid_df.Confirmed, ascending=False).show()

+----------+-------+---------+------+---------+
|      Date|Country|Confirmed|Deaths|Recovered|
+----------+-------+---------+------+---------+
|2024-03-16|  India|    97000|  1600|    88000|
|2024-03-15|  India|    95000|  1500|    87000|
|2024-03-16| Brazil|    87000|  1900|    74000|
|2024-03-15| Brazil|    85000|  1800|    72000|
|2024-03-16|     UK|    76000|  1400|    62000|
|2024-03-15|     UK|    74000|  1300|    60000|
|2024-03-16| Russia|    69000|  1300|    56000|
|2024-03-15| Russia|    67000|  1200|    54000|
|2024-03-16|    USA|   102500|  2100|    82000|
|2024-03-15|    USA|   100000|  2000|    80000|
+----------+-------+---------+------+---------+

In [55]:
covid_df.registerTempTable("covid")

c:\Users\pavil\AppData\Local\Programs\Python\Python313\Lib\site-packages\pyspark\sql\dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [56]:
spark.sql("SELECT * FROM covid").show()

+----------+-------+---------+------+---------+
|      Date|Country|Confirmed|Deaths|Recovered|
+----------+-------+---------+------+---------+
|2024-03-15|    USA|   100000|  2000|    80000|
|2024-03-15|  India|    95000|  1500|    87000|
|2024-03-15| Brazil|    85000|  1800|    72000|
|2024-03-15| Russia|    67000|  1200|    54000|
|2024-03-15|     UK|    74000|  1300|    60000|
|2024-03-16|    USA|   102500|  2100|    82000|
|2024-03-16|  India|    97000|  1600|    88000|
|2024-03-16| Brazil|    87000|  1900|    74000|
|2024-03-16| Russia|    69000|  1300|    56000|
|2024-03-16|     UK|    76000|  1400|    62000|
+----------+-------+---------+------+---------+

In [57]:
spark.sql("select Country, Deaths from covid where Deaths > 1000").show()

+-------+------+
|Country|Deaths|
+-------+------+
|    USA|  2000|
|  India|  1500|
| Brazil|  1800|
| Russia|  1200|
|     UK|  1300|
|    USA|  2100|
|  India|  1600|
| Brazil|  1900|
| Russia|  1300|
|     UK|  1400|
+-------+------+